<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP_DNHoLFGkjZBj5htp97a7w0iyoEokcg</string>
	<key>GCM_SENDER_ID</key>
	<string>169481287570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>caom.aspiraconnect.hf.ca</string>
	<key>PROJECT_ID</key>
	<string>ca-mobile-app-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>ca-mobile-app-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169481287570:ios:377aaf60139c5dd766734b</string>
</dict>
</plist>