<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDs5XabAEZWPSIU5h5DWb8cCUbU8E9oOEo</string>
	<key>GCM_SENDER_ID</key>
	<string>143150001210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspiraconnect.hf.ca</string>
	<key>PROJECT_ID</key>
	<string>hunt-fish-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hunt-fish-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143150001210:ios:a214cce6e0e21fadc45903</string>
	<key>DATABASE_URL</key>
	<string>https://hunt-fish-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>